<mat-toolbar color="primary">
    <span>Dashboard - Clínica Audiológica</span>

    <button mat-button class="toolbar-button" routerLink="/">
      <mat-icon>landing-container</mat-icon> Ir al inicio
      </button>
  </mat-toolbar>

  
  
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Pacientes">
      <app-lista-pacientes></app-lista-pacientes> 
    </mat-tab>
    <mat-tab label="Especialistas">
      <app-lista-especialistas></app-lista-especialistas>
    </mat-tab>
    <mat-tab label="Citas">
      <app-lista-citas></app-lista-citas>
    </mat-tab>
  </mat-tab-group>
  