<table mat-table [dataSource]="especialistas">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <ng-container matColumnDef="especialidad">
      <th mat-header-cell *matHeaderCellDef>Especialidad</th>
      <td mat-cell *matCellDef="let element"> {{element.especialidad}} </td>
    </ng-container>
  
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" aria-label="Editar especialista" (click)="editarEspecialista(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Eliminar especialista" (click)="eliminarEspecialista(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  